// Grid
.grid-5,
.grid-10,
.grid-15,
.grid-20,
.grid-25,
.grid-30,
.grid-33,
.grid-35,
.grid-40,
.grid-45,
.grid-50,
.grid-55,
.grid-60,
.grid-65,
.grid-66,
.grid-70,
.grid-75,
.grid-80,
.grid-85,
.grid-90,
.grid-95,
.grid-100,
.grid-960,
.grid-1160,
.grid-1280,
.grid-1400 {
    position: relative;
}
  
/** GLOBAL GRID SIZES **/
.grid-5 {
    width: 5%; }

.grid-10 {
    width: 10%; }

.grid-15 {
    width: 15%; }

.grid-20 {
    width: 20%; }

.grid-25 {
    width: 25%; }

.grid-30 {
    width: 30%; }

.grid-33 {
    width: 33.33333%; }

.grid-35 {
    width: 35%; }

.grid-40 {
    width: 40%; }

.grid-45 {
    width: 45%; }

.grid-50 {
    width: 50%; }

.grid-55 {
    width: 55%; }

.grid-60 {
    width: 60%; }

.grid-65 {
    width: 65%; }

.grid-66 {
    width: 66.66666%; }

.grid-70 {
    width: 70%; }

.grid-75 {
    width: 75%; }

.grid-80 {
    width: 80%; }

.grid-85 {
    width: 85%; }

.grid-90 {
    width: 90%; }

.grid-95 {
    width: 95%; }

.grid-100 {
    width: 100%; }

.grid-960 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.grid-1160 {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.grid-1280 {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.grid-1400 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



// Display Flex
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.d-jcsb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.d-jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.d-jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    
.d-jce {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.d-aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.d-aiend {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.d-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }



// General
figure {
    margin: 0;}