/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1. 

    

-------------------------------------------------------------------*/


/*=============================================
=           0. General                    =
=============================================*/
html {
  font-size: 10px;
}

body {
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
}

.column {
  width: calc(50% - 2rem);
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
}

.paragraph--big {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}


/*=============================================
=           1. Header                    =
=============================================*/

.header {

}

.header__cover {
  img {

  }
}





/*=============================================
=           2. Page Home                    =
=============================================*/

.content {

}

.section {
  padding-bottom: 13rem;
  padding-top: 13rem;
}

.section-bg-sky-blue {
  background-color: $sky-blue;
}

.section--blue-gradient {
  @include gradient-blue;
}
