/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Alt Pages
4. Footer

    

-------------------------------------------------------------------*/



/*=============================================
=           1. Header                    =
=============================================*/

.header {
  &--alt {
    margin-bottom: 7rem;

    .logo {
      padding-right: 0;
      text-align: center;
    }
  }

  &__content {
    margin-bottom: 4rem;
  }
}

.header__cover {
  img {
    width: 100%;
  }
}

/* Alt pages header style */
.message {
  background-color: $primary-blue;
  margin-bottom: 3.5rem;
  padding: 1.5rem 3rem;
  text-align: center;

  &__paragraph {
    color: $alt-text-color;
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
    line-height: 1.2;
  }
}

.breadcrumbs {
  border-bottom: 0.2rem dotted $primary-green;
  border-top: 0.2rem dotted $primary-green;
  padding: 3.2rem 0;

  a {
    color: $primary-blue;
    display: inline;
    font-size: 1.6rem;
  }

  p {
    color: $primary-blue;
    display: inline;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 3rem;
    position: relative;

    &::before {
      content: "";
      background-color: $primary-green;
      border-radius: 50%;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 0.5rem;
      width: 1rem;
    }
  }
}





/*=============================================
=           2. Page Home                    =
=============================================*/

// .content {

// }

.section {
  padding-bottom: 13rem;
  padding-top: 13rem;
  position: relative;
}

.section-bg-sky-blue {
  background-color: $sky-blue;
}

.section-bg-light-blue {
  background-color: $light-blue;
}

.section--blue-gradient {
  @include gradient(left, $gradient);
}

.graphics {
  z-index: 0;
}

@include desktop {

  .section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }

  .graphics {
      img {
          width: 70%;
      }
  }

}





/*=============================================
=           2.1 Section 1                    =
=============================================*/
.logo {
  z-index: 2;
  padding-right: 13rem;
}

.section1 {
  .graphics {
    margin-top: -4rem;
  }
}

.location {
  .fas {
    color: $primary-green;
    letter-spacing: 0.21rem;
    line-height: 1.7;
    font-size: 3rem;
  }

  .location__pin {
    .unordered-list__item {
      display: block;
      font-size: 2rem;

      &::before {
        content: none;
      }
    }
  }
}





/*=============================================
=           2.2 Section 2                    =
=============================================*/

.graphics--section2 {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.section2 {
  color: $alt-text-color;

  .button {
    margin-top: 3.8rem;
  }
}





/*=============================================
=           2.3 Section 3                    =
=============================================*/

.graphics--section3 {
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.graphics--section3-2 {
  bottom: -0.3rem;
  left: 26.2rem;
  margin: auto;
  position: absolute;
}

@include desktop {

  .graphics--section3 {
    text-align: right;
  }

}




/*=============================================
=           2.4 Section 4                    =
=============================================*/





/*=============================================
=           2.5 Section 5                    =
=============================================*/

.presentation-photos {
  margin: 13rem auto 1rem;
  width: 75%;

  figure {
    text-align: center;

    figcaption {
      color: $primary-blue;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0.07rem;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
}





/*=============================================
=           2.6 Section 6                    =
=============================================*/

.contact-phone {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.28rem;

  i {
    color: $secundary-blue;
  }
}





/*=============================================
=           2.7 Section 7                    =
=============================================*/

.section7-wrap {
  padding-bottom: 4.7rem;
}

.graphics--section7 {
  position: absolute;
  right: 0;
  top: 0;
}

.section7 {
  .button {
    margin: 0 auto;
  }
}

.prices {
  margin-bottom: 5rem;

  .prices__block {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display:flex;
    flex-direction:column;
    margin-bottom: 3rem;
    width: calc(33.33333% - 2rem);

    &.active {
      .prices__top {
        background-color: $secundary-blue;
      }
    }
  }

  .prices__top {
    background-color: $primary-green;
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
    color: $alt-text-color;
    padding: 2.5rem 4rem;

    .prices__price {
      font-size: 5rem;
      font-weight: 600;
      letter-spacing: 0.42rem;
      line-height: 1.2;
      margin: 0;

      span {
        display: block;
        font-size: 1.6rem;
        letter-spacing: 0.112rem;
        text-transform: uppercase;
      }
    }
  }

  .prices__bottom {
    background-color: $alt-text-color;
    border-radius: 0 0 2rem 2rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12rem;
    padding: 1rem 3rem;

    .unordered-list {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      width: 90%;

      .unordered-list__item {
        font-size: 1.6rem;

        &::before {
          top: 1rem;
        }
      }
    }
  }
}



@include desktop {

  .graphics--section7 {
    text-align: right;
  }

}





/*=============================================
=           3. Alt Pages                    =
=============================================*/

.alt-page {
  .title {
    .title__subtitle {
      padding-left: 4rem;

      &::before {
        height: 1.6rem;
        top: 0.2rem;
        width: 1.6rem;
      }
    }

    h2 {
      margin-top: 3rem;
    }
  }
}

.law {
  margin: 5rem auto 8rem;

  ol {
    & > li {
      margin-bottom: 5rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
  }

  &__content {
    font-size: 1.6rem;

    a {
      color: $primary-green;
    }

    p {
      margin-bottom: 1rem;
    }

    &--datenschutz {
      p {
        margin-bottom: 5rem;
      }
    }
  }
}





/*=============================================
=           4. Footer                    =
=============================================*/

.footer {
  position: relative;

  &--home {
    background-color: $light-blue;
  }

  img {
    margin-bottom: -4px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .footer__content {
    bottom: 5.6rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

.footer__copyrights {
  p {
    color: $sky-blue;
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
  }
}




