/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Footer

    

-------------------------------------------------------------------*/


/*=============================================
=           0. General                    =
=============================================*/
html {
  font-size: 10px;
}

body {
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.column {
  width: calc(50% - 2rem);
}

.title {
  color: $alt-text-color;
  line-height: 1.3;
  position: relative;
  width: 100%;

  h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 4rem;
  }

  &__subtitle {
    color: $text-color;
    font-size: 1.6rem;
    text-transform: uppercase;

    &::before {
      content: "•";
      color: $primary-green;
      display: inline-block;
      font-size: 5rem;
      margin-right: 2rem;
      padding-bottom: 1rem;
      vertical-align: middle;
    }
  } // End: __subtitle

  &__main {
    font-size: 5rem;
    letter-spacing: 0.125rem;
  }

  &--blue {
    color: $primary-blue;
  }
  
  &--green {
    color: $primary-green;
  }

  &--white {
    color: $alt-text-color;
    &::before {
      color: $alt-text-color;
    }
  }

  &--underline {
    &::before {
      background-color: $primary-green;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      bottom: -2rem;
      content: '';
      height: 0.5rem;
      //left: 0;
      position: absolute;
      width: 8rem;
    }
  }

} // End: .title

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.paragraph--big {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.unordered-list {
  list-style-type: none;
  margin-top: 0.5rem;
  padding-left: 1rem;
  
  li {
    font-size: 1.6rem;
    line-height: 1.8;

    &::before {
      content: "•";
      color: $primary-green;
      display: inline-block;
      font-size: 2rem;
      margin-left: -1rem;
      margin-right: 0.5rem;
      padding-bottom: 3px;
      vertical-align: middle;
    }
  }
}

.button {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: inline-block;

  a {
    color: $alt-text-color;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 0.112rem;
    line-height: 1.2;
    padding: 2rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--blue {
    background-color: $primary-blue;
  }

  &--green {
    background-color: $primary-green;
  }

  &--white {
    background-color: $alt-text-color;
    a {
      color: $primary-blue;
    }
  }

}




/*=============================================
=           1. Header                    =
=============================================*/

// .header {

// }

.header__cover {
  img {
    width: 100%;
  }
}





/*=============================================
=           2. Page Home                    =
=============================================*/

// .content {

// }

.section {
  padding-bottom: 13rem;
  padding-top: 13rem;
  position: relative;
}

.section-bg-sky-blue {
  background-color: $sky-blue;
}

.section--blue-gradient {
  @include gradient(left, $gradient);
}

.graphics {
  z-index: 0;
}


/*=============================================
=           2.1 Section 1                    =
=============================================*/
.logo {
  z-index: 2;
  padding-right: 13rem;
}

.section1 {
  .graphics {
    margin-top: -4rem;
  }
}

.location {
  .fas {
    color: $primary-green;
    letter-spacing: 0.21rem;
    line-height: 1.7;
    font-size: 3rem;
  }

  .location__pin {
    li {
      font-size: 2rem;

      &::before {
        content: none;
      }
    }
  }
}





/*=============================================
=           2.2 Section 2                    =
=============================================*/

.graphics--section2 {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.section2 {
  color: $alt-text-color;

  .button {
    margin-top: 65px;
  }
}





/*=============================================
=           2.3 Section 3                    =
=============================================*/

.graphics--section3 {
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.section3 {
  .title {
    h2 {
      width: 50%;
    }
  }
}





/*=============================================
=           2.4 Section 4                    =
=============================================*/





/*=============================================
=           2.5 Section 5                    =
=============================================*/

.presentation-photos {
  margin: 13rem auto 1rem;
  width: 75%;

  figure {
    text-align: center;

    figcaption {
      color: $primary-blue;
      font-size: 1.6rem;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
}





/*=============================================
=           2.6 Section 6                    =
=============================================*/

.contact-phone {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.28rem;

  i {
    color: $secundary-blue;
  }
}





/*=============================================
=           2.7 Section 7                    =
=============================================*/

.section7-wrap {
  padding-bottom: 4.7rem;
}

.graphics--section7 {
  position: absolute;
  right: 0;
  top: 0;
}

.section7 {
  .button {
    margin: 0 auto;
  }
}

.prices {
  margin-bottom: 5rem;

  .prices__block {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display:flex;
    flex-direction:column;
    margin-bottom: 3rem;
    width: calc(33.33333% - 2rem);

    &.active {
      .prices__top {
        background-color: $secundary-blue;
      }
    }
  }

  .prices__top {
    background-color: $primary-green;
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
    color: $alt-text-color;
    padding: 2.5rem 4rem;

    .prices__price {
      font-size: 6rem;
      letter-spacing: 0.42rem;
      line-height: 1.2;
      margin: 0;

      span {
        display: block;
        font-size: 1.6rem;
        letter-spacing: 0.112rem;
        text-transform: uppercase;
      }
    }
  }

  .prices__bottom {
    background-color: $alt-text-color;
    border-radius: 0 0 2rem 2rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 17rem;
    padding: 2.5rem 4rem;

    .unordered-list {
      margin: 0;
      padding: 0;

      li {
        font-size: 2rem;
      }
    }
  }
}





/*=============================================
=           3. Footer                    =
=============================================*/

.footer {
  background: url('img/frische-tonne-footer-background.svg');
  background-color: $sky-blue;
  background-position: center top;
  padding-bottom: 4.2rem;
  padding-top: 16.6rem;
}

.footer__copyrights {
  p {
    color: $sky-blue;
    font-size: 1.6rem;
    letter-spacing: 0.112rem;
  }
}




