/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1. 

    

-------------------------------------------------------------------*/


/*=============================================
=           0. General                    =
=============================================*/
html {
  font-size: 10px;
}

body {
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
}

.column {
  width: calc(50% - 2rem);
}

.title {
  line-height: 1.1;

  &__subtitle {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__main {
    font-size: 5rem;
    letter-spacing: 0.125rem;
  }

  .title--green {
    color: $primary-green;
  }
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

.paragraph--big {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.button {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: inline-block;

  &--blue {
    background-color: $primary-blue;
  }

  &--green {
    background-color: $primary-green;
  }

  &--white {
    background-color: $alt-text-color;
    a {
      color: $primary-blue;
    }
  }

  a {
    color: $alt-text-color;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 0.112rem;
    line-height: 1.2;
    padding: 2rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
  }

}




/*=============================================
=           1. Header                    =
=============================================*/

.header {

}

.header__cover {
  img {
    width: 100%;
  }
}





/*=============================================
=           2. Page Home                    =
=============================================*/

// .content {

// }

.section {
  padding-bottom: 13rem;
  padding-top: 13rem;
  position: relative;
}

.section-bg-sky-blue {
  background-color: $sky-blue;
}

.section--blue-gradient {
  @include gradient(left, $gradient);
}

.graphics {
  position: absolute;
  z-index: 0;
}


/*=============================================
=           2.1 Section 1                    =
=============================================*/
.logo {
  z-index: 2;
  padding-right: 13rem;
}

.section1 {
  .graphics {
    margin-top: -4rem;
  }
}

.location {
  .fas {
    color: $primary-green;
    letter-spacing: 0.21rem;
    line-height: 1.7;
    font-size: 3rem;
  }

  .location__pin {
    list-style-type: none;

    li {
      font-size: 2rem;
      line-height: 1.8;
    }
  }
}








/*=============================================
=           2.2 Section 2                    =
=============================================*/

/*=============================================
=           2.3 Section 3                    =
=============================================*/

/*=============================================
=           2.4 Section 4                    =
=============================================*/

/*=============================================
=           2.5 Section 5                    =
=============================================*/

/*=============================================
=           2.6 Section 6                    =
=============================================*/

/*=============================================
=           2.7 Section 7                    =
=============================================*/
