/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Alt Pages
4. Footer

-------------------------------------------------------------------*/



/*=============================================
=           0. General                    =
=============================================*/

@include tablet {
    
    .menu-btn--style {
        left: 5rem;
        top: 5rem;
    }

    .nav {
        max-width: 100%;
        width: 100%;

        .menu-nav {
            padding-right: 0;

            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: start;

            .main-nav {
                padding-left: 10%;
                padding-right: 10%;
            }
        }
    }

    .title {
        h2 {
            font-size: 2.5rem;
        }
    
        &__main {
            font-size: 3.5rem;
            font-weight: 600;
            letter-spacing: 0.025rem;
            margin-top: 1rem;
        }
    } // End: .title

    .button {
        a {
            padding: 2rem 3rem;
        }
    }

    .paragraph {
        width: 100%;
    }

} // End: tablet





/*=============================================
=           1. Header                    =
=============================================*/

@include laptop {

    .header {
        &__cover-wrap {
            .header__cover {
                &--desktop {
                    display: none;
                }

                &--mobile {
                    display: block;
                }
            }
        }

        &--alt {
            padding: 0 2rem;
        }
    }

} // End: laptop

@include tablet {

    .header {
        &__hamburger {
            &.open {
                .menu-btn--style {
                    left: 10%;
                }
            }
        }
    }

} // End: tablet





/*=============================================
=           2. Page Home                    =
=============================================*/

@include laptop {

    .column {
        width: 100%;

        &:first-of-type {
            margin-bottom: 5rem;
        }
    }

} // End: laptop





/*=============================================
=           2.1 Section 1                    =
=============================================*/

@include laptop {

    .section1 {
        flex-direction: column;

        .logo {
            padding-right: 0;
        }

        .graphics {
            margin-top: 0;
        }
    }

} // End: laptop


/*=============================================
=           2.2 Section 2                    =
=============================================*/

@include desktopFull {

    .graphics--section2 {
        display: none;
    }

} // End: desktopFull

@include laptop {

    .section2 {
        flex-direction: column;
    }

} // End: laptop





/*=============================================
=           2.3 Section 3                    =
=============================================*/

@include desktopFull {

    .graphics--section3 {
        display: none;
    }

    .graphics--section3-2 {
        display: none;
    }

} // End: desktopFull





/*=============================================
=           2.4 Section 4                    =
=============================================*/

@include laptop {

    .section4 {
        flex-direction: column;

        .grid-60 {
            margin-bottom: 5rem;
            width: initial;
        }

        .grid-35 {
            width: initial;
        }
    }

} // End: laptop





/*=============================================
=           2.5 Section 5                    =
=============================================*/

@include laptop {

    .section5 {
        .graphics {
            display: none;
        }        
    }

    .presentation-photos {
        margin-top: 8rem;
    }

} // End: laptop

@include tablet {

    .presentation-photos {
        flex-direction: column;

        figure {
            margin: 0 auto 3rem;
        }
    }

} // End: tablet





/*=============================================
=           2.6 Section 6                    =
=============================================*/

@include tablet {
    .contact-phone {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }
}







/*=============================================
=           2.7 Section 7                    =
=============================================*/

@include laptop {

    .prices {
        &__block {
            width: calc(50% - 1.5rem);
        }

        .prices__top {
            .prices__price {
                font-size: 4rem;
            }
        }
    }

} // End: laptop

@include tablet {

    .prices {
        &__block {
            width: 100%;
        }
    }

} // End: tablet




/*=============================================
=           3. Alt Pages                    =
=============================================*/

@include tablet {
    .law {
        &__content {  
            &--datenschutz {
                p {
                    margin-bottom: 3rem;
                }
            }
        }
    }
} // End: tablet





/*=============================================
=           3. Footer                    =
=============================================*/

@include tablet {

    .footer {
        padding-top: 5rem;

        .footer__bg {
            margin-bottom: -2px;
            position: relative;
            width: 100%;
            z-index: 1;
        
            &--desktop {
                display: none;
            }
        
            &--mobile {
                display: block;
            }
        }

        .footer__content {
            bottom: 1rem;
            flex-direction: column;
            text-align: center;
    
            .footer__menu {
                margin-bottom: 1rem;

                ul {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }
    }

} // End: tablet
