/*=============================================
=            SETOF Colors                  =
=============================================*/
$primary-gray: #333333;
$primary-blue:#326590;
$primary-green: #98CB55;
$primary-rose: #AA6969;

$secundary-blue: #5FA9E8;

$sky-blue: #EEF7FF;

/* Font */
$text-color: #333333;
$alt-text-color: #FFFFFF;
$hover-menu-items: #CCE0F2;

/* Additional */
$gradient-color-1: #163148;
$gradient-color-2: #2C6290;

$gradient: $gradient-color-1, $gradient-color-2; 