/*=============================================
=            SETOF Colors                  =
=============================================*/
$primary-gray: #333333;
$primary-blue:#326590;
$primary-green: #98CB55;
$primary-rose: #AA6969;

$sky-blue: #EEF7FF;

/* Nebojsa addition */
$text-color: #333333;
$alt-text-color: #FFFFFF;
$alt-bg-color: #FFFFFF;


