@charset "UTF-8";
/*=============================================
=            SETOF Colors                  =
=============================================*/
/* Font */
/* Additional */
/*=============================================
=           0. General                    =
=============================================*/
html, body {
  height: 100%; }

html {
  font-size: 10px; }

body {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  flex: 1 0 auto; }

.footer {
  flex-shrink: 0; }

address {
  font-style: normal;
  margin: 3rem 0; }

p {
  margin: 0; }

h1,
h2,
h3 {
  margin: 0; }

figure {
  margin: 0; }

a {
  color: #FFFFFF;
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0; }

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item; }
  ol > li {
    margin: 0;
    list-style-type: none;
    counter-increment: item; }
    ol > li::before {
      display: inline-block;
      width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      content: counter(item) ".";
      position: absolute;
      left: 0;
      font-size: 2rem; }

.column {
  width: calc(50% - 2rem); }

.title {
  color: #FFFFFF;
  line-height: 1.3;
  position: relative;
  width: 100%; }
  .title h2 {
    display: block;
    font-weight: 600;
    font-size: 3.5rem; }
  .title__subtitle {
    color: #333333;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    position: relative;
    text-transform: uppercase; }
    .title__subtitle::before {
      content: "";
      background-color: #98CB55;
      border-radius: 50%;
      height: 5px;
      left: 0;
      position: absolute;
      top: 0.5rem;
      width: 5px; }
  .title__main {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    margin-top: 1rem; }
  .title--blue {
    color: #326590; }
  .title--green {
    color: #98CB55; }
  .title--white {
    color: #FFFFFF; }
    .title--white::before {
      color: #FFFFFF; }
  .title--underline::before {
    background-color: #98CB55;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    bottom: -2rem;
    content: '';
    height: 0.5rem;
    position: absolute;
    width: 8rem; }

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3rem; }

.paragraph--big {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif; }

.unordered-list {
  list-style-type: none;
  margin-top: 0.5rem;
  padding-left: 1rem; }
  .unordered-list .unordered-list__item {
    font-size: 1.6rem;
    line-height: 1.8;
    padding-left: 1.5rem;
    position: relative; }
    .unordered-list .unordered-list__item::before {
      content: "";
      background-color: #98CB55;
      border-radius: 50%;
      height: 5px;
      left: 0;
      position: absolute;
      top: 1.2rem;
      width: 5px; }
    .unordered-list .unordered-list__item--gap {
      margin-bottom: 3rem; }
    .unordered-list .unordered-list__item.item--basic {
      margin-left: 2rem; }
      .unordered-list .unordered-list__item.item--basic::before {
        background-color: #333333; }

.button {
  display: inline-block; }
  .button a {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #FFFFFF;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.112rem;
    line-height: 1.2;
    padding: 2rem 4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; }
  .button__wrap--row .button {
    margin-left: 1.75rem;
    margin-right: 1.75rem; }
  .button:first-of-type {
    margin-bottom: 3rem; }
  .button--blue a {
    background-color: #326590; }
  .button--green a {
    background-color: #98CB55; }
  .button--white a {
    background-color: #FFFFFF;
    color: #326590; }
  .button--header-phone {
    margin-right: 10rem; }

@media screen and (max-width: 1366px) {
  html {
    font-size: 9px; } }
/* #####
    Grid
##### */
.grid-5,
.grid-10,
.grid-15,
.grid-20,
.grid-25,
.grid-30,
.grid-33,
.grid-35,
.grid-40,
.grid-45,
.grid-50,
.grid-55,
.grid-60,
.grid-65,
.grid-66,
.grid-70,
.grid-75,
.grid-80,
.grid-85,
.grid-90,
.grid-95,
.grid-100,
.grid-960,
.grid-1160,
.grid-1280,
.grid-1400 {
  position: relative; }

/** GLOBAL GRID SIZES **/
.grid-5 {
  width: 5%; }

.grid-10 {
  width: 10%; }

.grid-15 {
  width: 15%; }

.grid-20 {
  width: 20%; }

.grid-25 {
  width: 25%; }

.grid-30 {
  width: 30%; }

.grid-33 {
  width: 33.33333%; }

.grid-35 {
  width: 35%; }

.grid-40 {
  width: 40%; }

.grid-45 {
  width: 45%; }

.grid-50 {
  width: 50%; }

.grid-55 {
  width: 55%; }

.grid-60 {
  width: 60%; }

.grid-65 {
  width: 65%; }

.grid-66 {
  width: 66.66666%; }

.grid-70 {
  width: 70%; }

.grid-75 {
  width: 75%; }

.grid-80 {
  width: 80%; }

.grid-85 {
  width: 85%; }

.grid-90 {
  width: 90%; }

.grid-95 {
  width: 95%; }

.grid-100 {
  width: 100%; }

.grid-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1160 {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.grid-1280 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.grid-1400 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.d-flex {
  display: -webkit-box;
  display: flex; }

.d-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.d-jcsb {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.d-jcsa {
  justify-content: space-around; }

.d-jcc {
  -webkit-box-pack: center;
  justify-content: center; }

.d-jce {
  -webkit-box-pack: end;
  justify-content: flex-end; }

.d-aic {
  -webkit-box-align: center;
  align-items: center; }

.d-aiend {
  -webkit-box-align: end;
  align-items: flex-end; }

.d-wrap {
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

.ta-center {
  text-align: center; }

.mb-4r {
  margin-bottom: 4rem; }

.mb-6r {
  margin-bottom: 6rem; }

.mb-8r {
  margin-bottom: 8rem; }

.mt-6r {
  margin-top: 6rem; }

/*------------------------------------------------------------------
[Table of contents]

1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Alt Pages
4. Footer

    

-------------------------------------------------------------------*/
/*=============================================
=           1. Header                    =
=============================================*/
.header--alt {
  margin-bottom: 7rem; }
  .header--alt .logo {
    padding-right: 0;
    text-align: center; }
    .header--alt .logo img {
      max-width: 50%; }
.header__content {
  margin-bottom: 4rem;
  margin-top: 2rem; }
.header__cover {
  width: 100%; }
  .header__cover img {
    width: 100%; }
  .header__cover--mobile {
    display: none; }

/* Alt pages header style */
.message {
  background-color: #326590;
  margin-bottom: 3.5rem;
  padding: 1.5rem 3rem;
  text-align: center; }
  .message__paragraph {
    color: #FFFFFF;
    font-size: 2.4rem;
    letter-spacing: 0.12rem;
    line-height: 1.2; }

.breadcrumbs {
  border-bottom: 0.2rem dotted #98CB55;
  border-top: 0.2rem dotted #98CB55;
  padding: 3.2rem 0; }
  .breadcrumbs a {
    color: #326590;
    display: inline;
    font-size: 1.6rem; }
  .breadcrumbs p {
    color: #326590;
    display: inline;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 3rem;
    position: relative; }
    .breadcrumbs p::before {
      content: "";
      background-color: #98CB55;
      border-radius: 50%;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 0.5rem;
      width: 1rem; }

/*=============================================
=           2. Page Home                    =
=============================================*/
.section {
  padding-bottom: 13rem;
  padding-top: 13rem;
  position: relative; }

.section-bg-sky-blue {
  background-color: #EEF7FF; }

.section-bg-light-blue {
  background-color: #CCE0F2; }

.section--blue-gradient {
  background: -webkit-linear-gradient(left, #163148, #2C6290);
  background: -moz-linear-gradient(left, #163148, #2C6290);
  background: -o-linear-gradient(left, #163148, #2C6290);
  background: linear-gradient(left, #163148, #2C6290); }

.graphics {
  z-index: 0; }

@media screen and (max-width: 1366px) {
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem; }

  .graphics img {
    width: 70%; } }
/*=============================================
=           2.1 Section 1                    =
=============================================*/
.logo {
  z-index: 2;
  padding-right: 13rem; }

.section1 .graphics {
  margin-top: -4rem; }

.location .fas {
  color: #98CB55;
  letter-spacing: 0.21rem;
  line-height: 1.7;
  font-size: 3rem; }
.location .location__pin .unordered-list__item {
  font-size: 2rem; }
  .location .location__pin .unordered-list__item::before {
    content: none; }
  .location .location__pin .unordered-list__item a {
    color: #333333; }

/*=============================================
=           2.2 Section 2                    =
=============================================*/
.graphics--section2 {
  left: 0;
  margin: auto;
  position: absolute; }

.section2 {
  color: #FFFFFF; }
  .section2 .button:first-of-type {
    margin-top: 3.8rem; }

/*=============================================
=           2.3 Section 3                    =
=============================================*/
.graphics--section3 {
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0; }

.graphics--section3-2 {
  bottom: -0.3rem;
  left: 26.2rem;
  margin: auto;
  position: absolute; }

@media screen and (max-width: 1366px) {
  .graphics--section3 {
    text-align: right; } }
/*=============================================
=           2.4 Section 4                    =
=============================================*/
.section4 .title__subtitle {
  padding-left: 2.5rem; }
  .section4 .title__subtitle::before {
    background-color: #FFFFFF;
    height: 1.5rem;
    top: 0.4rem;
    width: 1.5rem; }

/*=============================================
=           2.5 Section 5                    =
=============================================*/
.presentation-photos {
  margin: 13rem auto 1rem;
  max-width: 100%;
  width: 75%; }
  .presentation-photos figure {
    text-align: center; }
    .presentation-photos figure img {
      width: 100%; }
    .presentation-photos figure figcaption {
      color: #326590;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0.07rem;
      margin-top: 30px;
      text-transform: uppercase; }

/*=============================================
=           2.6 Section 6                    =
=============================================*/
.contact-phone {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.28rem; }
  .contact-phone i {
    color: #5FA9E8; }

/*=============================================
=           2.7 Section 7                    =
=============================================*/
.section7-wrap {
  padding-bottom: 4.7rem; }

.graphics--section7 {
  position: absolute;
  right: 0;
  top: 0; }

.prices {
  margin-bottom: 5rem; }
  .prices__block {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: calc(33.33333% - 2rem); }
    .prices__block.active .prices__top {
      background-color: #5FA9E8; }
  .prices__top {
    background-color: #98CB55;
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
    color: #FFFFFF;
    padding: 6rem 4rem; }
    .prices__top .prices__price {
      font-size: 5rem;
      font-weight: 600;
      letter-spacing: 0.42rem;
      line-height: 1.2;
      margin: 0; }
      .prices__top .prices__price span {
        display: block;
        font-size: 2.2rem;
        letter-spacing: 0.112rem;
        text-transform: uppercase; }
  .prices__bottom {
    background-color: #FFFFFF;
    border-radius: 0 0 2rem 2rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12rem;
    padding: 1rem 3rem; }
    .prices__bottom .unordered-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left; }
      .prices__bottom .unordered-list .unordered-list__item {
        font-size: 1.6rem; }
        .prices__bottom .unordered-list .unordered-list__item::before {
          top: 1rem; }

@media screen and (max-width: 1366px) {
  .graphics--section7 {
    text-align: right; } }
/*=============================================
=           3. Alt Pages                    =
=============================================*/
.alt-page .title .title__subtitle {
  padding-left: 4rem; }
  .alt-page .title .title__subtitle::before {
    height: 1.6rem;
    top: 0.2rem;
    width: 1.6rem; }
.alt-page .title h2 {
  margin-top: 3rem; }

.law {
  margin: 5rem auto 8rem; }
  .law ol > li {
    margin-bottom: 5rem; }
  .law__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-left: 3rem; }
  .law__content {
    font-size: 1.6rem; }
    .law__content h3 {
      margin-bottom: 5rem;
      text-transform: uppercase; }
    .law__content a {
      color: #98CB55; }
    .law__content p {
      margin-bottom: 1rem; }
    .law__content--datenschutz p {
      margin-bottom: 4rem; }

/*=============================================
=           4. Footer                    =
=============================================*/
.page-404 .title {
  margin-bottom: 3rem;
  text-align: center; }
.page-404__title {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 1.25; }
.page-404__subtitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8; }
.page-404__description {
  color: #FFFFFF;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center; }

.logo--404 {
  margin-bottom: 7rem;
  padding: 0; }

/*=============================================
=           4. Footer                    =
=============================================*/
.footer {
  position: relative; }
  .footer--home {
    background-color: #CCE0F2; }
  .footer .footer__bg {
    margin-bottom: -2px;
    position: relative;
    width: 100%;
    z-index: 1; }
    .footer .footer__bg--tablet {
      display: none; }
    .footer .footer__bg--mobile {
      display: none; }
  .footer .footer__content {
    bottom: 5.6rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2; }

.footer__copyrights p {
  color: #EEF7FF;
  font-size: 1.2rem;
  letter-spacing: 0.07rem; }

/*=============================================
=            Section top header             =
=============================================*/
.header__hamburger {
  display: block;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: relative; }
  .header__hamburger.open .menu-btn {
    background-color: #FFFFFF; }
    .header__hamburger.open .menu-btn__text {
      left: 0; }
      .header__hamburger.open .menu-btn__text::before {
        color: #FFFFFF;
        content: ''; }
    .header__hamburger.open .menu-btn--style {
      left: 12rem; }
  .header__hamburger.open .menu-btn__burger::before {
    background: #326590; }
  .header__hamburger.open .menu-btn__burger::after {
    background: #326590; }

.menu-btn {
  border-radius: 50%;
  position: absolute;
  z-index: 7;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }
  .menu-btn__text {
    bottom: -2.5rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center; }
    .menu-btn__text::before {
      color: #FFFFFF;
      content: 'Menü';
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase; }
  .menu-btn--style {
    background-color: #326590;
    left: 13%;
    top: 12rem; }
    .menu-btn--style .menu-btn__text::before {
      color: #326590; }

.menu-btn__burger {
  background: #FFFFFF;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.6rem;
  height: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .menu-btn__burger::before {
    background: #FFFFFF;
    border-radius: 3px;
    content: '';
    height: 3px;
    position: absolute;
    top: -8px;
    width: 2.6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .menu-btn__burger::after {
    background: #FFFFFF;
    border-radius: 3px;
    content: '';
    height: 3px;
    position: absolute;
    top: 8px;
    width: 2.6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .menu-btn__burger.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: transparent; }
    .menu-btn__burger.open::before {
      -webkit-transform: rotate(45deg) translate(6px, 6px);
      -moz-transform: rotate(45deg) translate(6px, 6px);
      -ms-transform: rotate(45deg) translate(6px, 6px);
      -o-transform: rotate(45deg) translate(6px, 6px);
      transform: rotate(45deg) translate(6px, 6px);
      background: #fff; }
    .menu-btn__burger.open::after {
      -webkit-transform: rotate(-45deg) translate(5px, -6px);
      transform: rotate(-45deg) translate(5px, -6px);
      background: #fff;
      -moz-transform: rotate(-45deg) translate(5px, -6px);
      -ms-transform: rotate(-45deg) translate(5px, -6px);
      -o-transform: rotate(-45deg) translate(5px, -6px); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 60rem;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 6; }

.nav ul li {
  padding-bottom: 2rem; }

.nav ul li a {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.07em;
  line-height: 25px;
  font-weight: 600;
  position: relative;
  padding-bottom: 3px;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s; }

.nav ul li a:hover {
  color: #CCE0F2; }

.nav.open {
  visibility: visible; }

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-color: #326590;
  padding-right: 1rem;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.nav .menu-nav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.menu__overlay {
  background: #326590;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: opacity .5s, visibility .5s;
  -moz-transition: opacity .5s, visibility .5s;
  -ms-transition: opacity .5s, visibility .5s;
  -o-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  visibility: hidden;
  width: 100%;
  z-index: 5; }
  .menu__overlay.open {
    opacity: .25;
    visibility: visible; }

.oh {
  overflow-y: hidden; }

.menu-nav {
  flex-direction: column; }
  .menu-nav .main-nav {
    padding: 45% 12rem 15%; }
  .menu-nav .meta-nav {
    margin-top: auto; }

.meta-nav ul li {
  margin-right: 2.5rem; }
  .meta-nav ul li:last-of-type {
    margin-right: 0; }
  .meta-nav ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
    .meta-nav ul li a:hover {
      color: #CCE0F2; }

@media screen and (max-width: 600px) {
  .meta-nav ul li a {
    padding: 2rem 0;
    display: block; } }
/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Alt Pages
4. Footer

-------------------------------------------------------------------*/
/*=============================================
=           0. General                    =
=============================================*/
@media screen and (max-width: 768px) {
  .menu-btn--style {
    left: 5rem;
    top: 5rem; }

  .nav {
    max-width: 100%;
    width: 100%; }
    .nav .menu-nav {
      padding-right: 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start; }
      .nav .menu-nav .main-nav {
        padding-left: 10%;
        padding-right: 10%; }

  .title h2 {
    font-size: 2.5rem; }
  .title__main {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    margin-top: 1rem; }

  .button a {
    padding: 2rem 3rem; }

  .paragraph {
    width: 100%; } }
@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 8rem;
    padding-top: 8rem; } }
/*=============================================
=           1. Header                    =
=============================================*/
@media screen and (max-width: 990px) {
  .header__cover-wrap .header__cover--desktop {
    display: none; }
  .header__cover-wrap .header__cover--mobile {
    display: block; } }
@media screen and (max-width: 768px) {
  .header__hamburger.open .menu-btn--style {
    left: 10%; } }
@media screen and (max-width: 600px) {
  .header__hamburger .menu-btn--style {
    left: 5%; } }
/*=============================================
=           2. Page Home                    =
=============================================*/
@media screen and (max-width: 990px) {
  .column {
    width: 100%; }
    .column:first-of-type {
      margin-bottom: 5rem; } }
/*=============================================
=           2.1 Section 1                    =
=============================================*/
@media screen and (max-width: 990px) {
  .section1 {
    flex-direction: column; }
    .section1 .logo {
      padding-right: 0; }
    .section1 .graphics {
      margin-top: 0; } }
@media screen and (max-width: 600px) {
  .section1 .logo img {
    width: 50%; } }
/*=============================================
=           2.2 Section 2                    =
=============================================*/
@media screen and (max-width: 1600px) {
  .graphics--section2 {
    display: none; } }
@media screen and (max-width: 990px) {
  .section2 {
    flex-direction: column; } }
/*=============================================
=           2.3 Section 3                    =
=============================================*/
@media screen and (max-width: 1600px) {
  .graphics--section3 {
    display: none; }

  .graphics--section3-2 {
    display: none; } }
/*=============================================
=           2.4 Section 4                    =
=============================================*/
@media screen and (max-width: 990px) {
  .section4 {
    flex-direction: column; }
    .section4 .grid-55 {
      margin-bottom: 5rem;
      width: initial; }
    .section4 .grid-45 {
      width: initial; } }
/*=============================================
=           2.5 Section 5                    =
=============================================*/
@media screen and (max-width: 990px) {
  .section5 .graphics {
    display: none; }

  .presentation-photos {
    margin-top: 8rem; } }
@media screen and (max-width: 768px) {
  .presentation-photos {
    flex-direction: column; }
    .presentation-photos figure {
      margin: 0 auto 3rem; } }
/*=============================================
=           2.6 Section 6                    =
=============================================*/
@media screen and (max-width: 768px) {
  .contact-phone {
    font-size: 2.5rem;
    letter-spacing: 0.1rem; } }
/*=============================================
=           2.7 Section 7                    =
=============================================*/
@media screen and (max-width: 990px) {
  .prices__block {
    width: calc(50% - 1.5rem); }
  .prices .prices__top .prices__price {
    font-size: 4rem; } }
@media screen and (max-width: 768px) {
  .prices__block {
    width: 100%; } }
/*=============================================
=           3. Alt Pages                    =
=============================================*/
@media screen and (max-width: 768px) {
  .law__content--datenschutz p {
    margin-bottom: 3rem; } }
/*=============================================
=           3. Footer                    =
=============================================*/
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 5rem; }
    .footer .footer__bg {
      margin-bottom: -2px;
      position: relative;
      width: 100%;
      z-index: 1; }
      .footer .footer__bg--desktop {
        display: none; }
      .footer .footer__bg--tablet {
        display: block; }
    .footer .footer__content {
      bottom: 1rem;
      flex-direction: column;
      text-align: center; }
      .footer .footer__content .footer__menu {
        margin-bottom: 1rem; }
        .footer .footer__content .footer__menu ul {
          padding-left: 2rem;
          padding-right: 2rem; } }
@media screen and (max-width: 600px) {
  .footer .footer__bg--tablet {
    display: none; }
  .footer .footer__bg--mobile {
    display: block; } }

/*# sourceMappingURL=style.css.map */
